body {
  background-color: rebeccapurple;
}

Form {
  width: 25%;
}





.chatLink{
  text-decoration: none;
  color: black;
}

.panels {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mention {
  color: blue;
}

.avatarParent {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  margin: 5px;
  border: 3px solid transparent;
  padding: 3px;
}

.avatar:hover {
  background: #e1e1e1;
  border: 3px solid yellow;
}

.avatar:focus {
  background-color: yellow;
  border: 3px solid black;
}

.wrapper {
  display: flex;
  height: 85%;
  width: 1500px;
}
.first {
  flex: 1;
  border: 1px solid black;
  position: relative;
  height: 100%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.second {
  flex: 1;
  margin-left: 50px;
  border: 1px solid black;
  height: 100%;

  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.leftPanelUpper {
  background-color: yellow;
  border-radius: 15px 15px 0px 0px;
  flex: 1;
  display: flex;
  align-items: center;
}

.leftPanelMid {
  flex: 12;
  background-color: White;

}

.leftPanelLower {
  flex: 1;
  background-color: yellow;
  border-radius: 0px 0px 15px 15px ;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.rightPanelUpper {
  background-color: yellow;
flex: 1;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.rightPanelMid {
  background-color: white;
  overflow: auto;
  flex: 12;
  display: flex;
  flex-direction: column-reverse;
}

.rightPanelLower {
background-color: white;
  flex: 1;
  border-radius: 0px 0px 15px 15px ;
  display: flex;
  align-items: center;
  line-height: 1px;
  border-top: 1px solid lightgray;
}

.friendListItem {
  margin-bottom: 5px;
}

.friendListLastMes {
  color: grey;
}

.lol {
  width: 100%;
}

.messageInput {
  flex: 7;
}

.messageButton {
  flex: 1;
  display: flex;
  justify-content: center;
}

.messLower {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 10px;
  align-items: center;
  width: 100%;

}

.notSeen {
  background-color: whitesmoke;
}
.notSeenFont {
  font-weight: 700;
}

.messParent{
  margin-top: 17px;

  display: flex;
}

.messName{
  margin-right: 5px;
  display: inline-block;
}

.messAvatar{
display: flex;
}
.messTime{
  display: inline-block;
  font-size: 12px;
}
.messMessage{

}

.inputButton{

}

.textAreaStyle{

}

.wrapper1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.wrapper2{
padding-left: 5px;
}

.wrapper3{

}

.chatList{
  padding-left: 10px;
}

.leftPanelLowerInside{

}