.wrapper {
    display: flex;
}
.first {
    flex: 1;
    border: 1px solid black;
    position: relative;
    height: 300px;
}
.second {
    flex: 1;
    margin-left: 50px;
    border-color: black;
    border: 1px solid black;
    height: 300px;
    position: relative;
    
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.leftPanelUpper {
    background-color: yellow;
}

.leftPanelMid {
    background-color: White;
}

.leftPanelLower {
    background-color: yellow;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rightPanelUpper {
    background-color: yellow;
}

.rightPanelMid {
    background-color: white;
    overflow: auto;
    
}

.rightPanelLower {
    background-color: white;
    width: 100%;
}

.friendListItem{
    margin-bottom: 5px;
}

.friendListLastMes{
    color: grey;
}

.lol{
    width: 100%;
}

.messageInput{
flex: 1;
}

.messageButton{
flex: 1;

}

.messLower{
    display: flex;
}