body {
  height: 100vh;
  width: 100%;

}


html{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #000000, #2a071a, #470037, #5d0061, #610096);

}

.buttonButtonButton{
  margin-top: 10px;
}

.one{
display: flex;
  justify-content: center;
}

.two{
  display: flex;
  justify-content: center;
}

.authWindow{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.uzNevim{
  width: 100%;
  height: 100%;
}

Form {
  width: 25%;
}

input{
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #a6a6a6;
}

button{
  border-radius: 10px;
  border: hidden;
  color: black;
  background-color: white;
  padding: 6px;
}

button:hover{
  background-color: lightgray;
}

.loginForm{
  flex: 5;
height: 100%;
  display: flex;
flex-direction: column;
  width: 100%;
  justify-content: center;
}

.formInputRightPanelLower{
  border-radius: 25px;
}

.settingsTitles{
  margin-left: 10px;
}

.buttonButton:hover{
background-color: #a2a2a2;
}

.buttonButton{
  border: 5px black;
  background-color: lightgray;
  padding:8px 22px 8px 22px;
  margin-left: 10px;
}

.chatLink{
  text-decoration: none;
  color: black;
}

.panels {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mention {
  color: blue;
}

.avatarParent {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  margin: 5px;
  border: 3px solid transparent;
  padding: 3px;
}

.avatar:hover {
  background: #e1e1e1;

}

.avatar:focus {
  background-color: lightgray;
  border: 3px solid #9b9b9b;
}

.wrapper {
  display: flex;
  height: 85%;
  width: 80%;
}


@media screen and (max-width: 1024px) {
  .wrapper{
    width: 100%;
  }
  .panels{
    width: 100%;
  }
}





.first {
flex: 1;
  position: relative;
  height: 100%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.second {
flex: 1;
  margin-left: 4%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.leftPanelUpper {
  background-image: linear-gradient(to left top, #000000, #2a071a, #470037, #5d0061, #610096);
  border-radius: 15px 15px 0px 0px;
  flex: 1;
  display: flex;
  align-items: center;
  color: white;
}

.leftPanelMid {
  flex: 12;
  background-color: White;

}

.leftPanelLower {
  flex: 1;
  background-image: linear-gradient(to left top, #000000, #2a071a, #470037, #5d0061, #610096);
  border-radius: 0px 0px 15px 15px ;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

.rightPanelUpper {
  background-image: linear-gradient(to left top, #000000, #2a071a, #470037, #5d0061, #610096);
flex: 1;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

.rightPanelMid {
  background-color: white;
  overflow: auto;
  flex: 12;
  display: flex;
  flex-direction: column-reverse;
}

.rightPanelLower {
background-color: white;
  flex: 1;
  border-radius: 0px 0px 15px 15px ;
  display: flex;
  align-items: center;
  line-height: 1px;
  border-top: 1px solid lightgray;
}

.friendListItem {
  margin-bottom: 5px;
}

.friendListLastMes {
  color: grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}

.lol {
  width: 100%;
}

.messageInput {
  flex: 7;
}

.messageButton {
  flex: 1;
  display: flex;
  justify-content: center;
}

.messLower {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 10px;
  align-items: center;
  width: 100%;

}

.notSeen {
  background-color: whitesmoke;

}
.notSeenFont {
  font-weight: 700;

}

.messParentReply{
  margin-top: 17px;
justify-content: end;
  display: flex;
  padding-right: 5px;
}

.messParent{
  margin-top: 17px;
padding-left: 5px;
  display: flex;
}

.messName{
  margin-right: 5px;
  display: inline-block;
}

.messAvatar{
display: flex;
}

.messTimeReply{

  font-size: 12px;
  margin-right: 5px;
}

.messTime{
  display: inline-block;
  font-size: 12px;
}
.messMessageReply{
display: flex;
  justify-content: end;
  height: fit-content;
  align-items: center;
}

.messMessage{
  display: flex;
  height: fit-content;
  align-items: center;

}

.inputButton{

}

.textAreaStyle{

}

.wrapper1Reply{
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 2px;
  align-items: start;
}

.wrapper1{
  display: flex;
  padding-top: 11px;
  justify-content: center;
  margin-left: 10px;
}

.wrapper2{
padding-left: 5px;
}

.wrapper3{
  display: flex;
  justify-content: right;
  align-items: center;
}

.wrapper3{

}

.chatList{
  padding-left: 10px;

}

.leftPanelLowerInside{
display: flex;
  width: 100%;
}

.leftLowerUsername{
  margin-left: 5px;
flex: 1;
}

.leftLowerAvatar{

}

.leftLowerButton{
flex: 1;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.leftPanelMessButt{
flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftPanelSettButt{
flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPanelUpperSettButt{
  flex: 1;
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.rightPanelUpperLabel{
flex: 1;
}